<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your Team</h1>
    <form action="/api/dash/createteam" style="display: block;" id="form" method="post">
        <input type="textarea" name="name" id="textarea" placeholder="Enter your team name"><br>
        <button type="submit" id="submit">Submit</button>
        </form>
       
</body>
</html>